html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: border-box;
}

.father{
    position:relative ;
    width: 40%;
    /* border: red solid; */
    top: 80px;
    left: 30%;
    margin: 0px 0px 140px 0px;
    padding: 10px;
}
div h2, label{
    font-weight: bold;
}
div h2{
    background-color:black;
    text-align: center;
    color: aliceblue;
    margin: 50px 0px;
    padding: 15px 10px;
    border-radius: 10px;
}
label{
    margin: 5px 0px;
    padding: 2px;
}
input{
    display: block;
    height: 30px;
    width: 70%;
    padding: 10px;
    position: relative;
    left: 120px;
    top: -35px;
    /* border: 2px solid red; */
    /* border-radius: 10px; */

}
.father a{
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    background-color: blue;
    color: aliceblue;
    /* height: 35px;  */
    width: 140px;
    padding:10px;
    border-radius: 10px ;
    left: 10px;
}
/* .father a:link{
    color: aliceblue;
} */
.father a:hover{
    text-decoration: none;
    /* font-size: 20px;*/
    background-color: rgba(0, 0, 255, 0.789);

    /* background-color: rgba(0, 0, 0, 0.825); */
    color: aliceblue;
}
.father a:active{
    /* background-color: gray; */
    background-color:rgba(0, 72, 255, 0.974);

}

